<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<section>
<app-header></app-header>
<h2>welcome to our ecommerce application</h2>

<div class="div-img" style="text-align:center">

  <img class="logo" width="500" alt="Logo" src="../assets/logo.png">
</div>
<h3> <a routerLink="/list-produits">Show all phones</a> </h3>

</section>

<router-outlet></router-outlet>

<footer>
  <app-footer></app-footer>
</footer>
