/* You can add global styles to this file, and also import other style files */
.presentation {
    border: 2px solid rgb(68, 67, 67, .5); 
    margin: 10px 5px;
    border-radius: 5px;
    width: 30%;

}

.container-row {
    display: flex;
    flex-direction: row;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.lead {
    color: rgb(2, 2, 73);
}

.marge {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nbr-stock {
    color : rgb(245, 108, 66);
}

.zoom {
    padding: 50px;
    cursor: url("/home/bouaffar/e-commerce/src/assets/loope.png"), pointer;    
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.7); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.add-panier {
    align-self: flex-end;
    margin: 10px 5px;
}

.name-produit {
    border: 1px solid #93DDFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: normal;
    background: rgb(150, 220, 250);
    color: rgb(22, 100, 144);
    margin: auto;
    padding: 5px;
}

.list-produit-title { 
    color: #fa4a1e; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}

.list-produit { 
    flex-wrap: wrap;
}